playwright==1.54.0
prefect==3.4.13
boto3==1.40.11
minio==7.2.16
Flask==3.1.2
psycopg2==2.9.10
requests==2.32.4
# Pinning opencv due to compatibility issues with other libraries
opencv-python==4.11.0.86
numpy==2.3.2
scipy==1.16.1
pandas==2.3.1
openpyxl==3.1.5
loguru==0.7.3
pdfplumber==0.11.7
google-genai==1.30.0
mt-940==4.30.0
